*{
    margin: 0;
    padding: 0;

}

body{
    background: url(img/bg.jpg);
    z-index: -1;
}

.flexb{
    position: absolute;
    bottom: 240px;
   margin: 10px;
   display: flex;
   
}

.item {
    border: 3px solid black;
    border-radius: 7px;
    height: 65px;
    width: 100px;
    padding: 5px 2px;
    text-align: center;
    color: white;
    margin: 0px 20px;
    
    
}



